@using portfolio_aro.Pages.Components
<h3 style="margin-bottom: 5%;     text-align: -webkit-center;">I've also participated in a lot of projects!</h3>

<div class="d-flex flex-row" style="flex-wrap:wrap; align-items: flex-start;">
    <Card imagePath="@graphmapImage" title="@graphmapTitle" description="@graphmapDescription" sources="@graphmapSources" cardClass=""></Card>
    <Card imagePath="@snakeImage" title="@snakeTitle" description="@snakeDescription" sources="@snakeSources" demo="@snakeDemo"></Card>
    <Card imagePath="@genshinoptimizerImage" title="@genshinoptimizerTitle" description="@genshinoptimizerDescription"></Card>
    <Card imagePath="@phonebookImage" title="@phonebookTitle" description="@phonebookDescription" sources="@phonebookSources"></Card>
    <Card imagePath="@iutwebsiteImage" title="@iutwebsiteTitle" description="@iutwebsiteDescription" sources="@iutwebsiteSources"></Card>
    <Card imagePath="@ocrapiImage" title="@ocrapiTitle" description="@ocrapiDescription"></Card>
    <Card imagePath="@m5Image" title="@m5Title" description="@m5Description"></Card>
</div>

@code {

    string graphmapImage = ".\\assets\\img\\graphmap.png";
    string graphmapTitle = "GraphMap";
    string graphmapDescription = "A SAE I made during my second semester where my teammate and I had to program an application capable of displaying and analyzing a graph";
    string graphmapSources = "https://forge.univ-lyon1.fr/p2104784/sae-grama";
    string graphmapClass = Card.CardClass.UNIV;

    string snakeImage = ".\\assets\\img\\snake.png";
    string snakeTitle = "Snake";
    string snakeDescription = "My teammate and I had to recreate the iconic game that is the snake, but to add more fun to it we added levels and a harcore mode";
    string snakeSources = "https://forge.univ-lyon1.fr/p2101845/projet-js-snake";
    string snakeDemo = "https://snake-fe765.web.app/";
    string snakeClass = Card.CardClass.UNIV;

    string genshinoptimizerImage = ".\\assets\\img\\genshin-optimizer.jpg";
    string genshinoptimizerTitle = "Genshin Optimizer";
    string genshinoptimizerDescription = "An android application that is currently still under development, it allows players of the game Genshin Impact to conserve and analyze other players profile, stats and character builds";
    string genshinoptimizerClass = Card.CardClass.UNIV;

    string phonebookImage = ".\\assets\\img\\phone-book.png";
    string phonebookTitle = "Phone Book";
    string phonebookDescription = "A SAE I made during my first semester, we had to make a phone book. Users can add new clients, modify existing client information, or delete client records from the system. Additionally, the system provides functionalities to display a complete list of all clients, search for specific clients, and identify those with incomplete data. Although filtering by data type is mentioned, this feature is not yet implemented. The program also allows users to sort client data and save it to a file for future reference.";
    string phonebookSources = "https://forge.univ-lyon1.fr/p2104784/gestion-annuaire-telephonique";
    string phonebookClass = Card.CardClass.UNIV;

    string iutwebsiteImage = ".\\assets\\img\\iut-website.png";
    string iutwebsiteTitle = "IUT website";
    string iutwebsiteDescription = "A SAE I made during my first semester, we had to make a website to present the IUT and our cursus.";
    string iutwebsiteSources = "https://forge.univ-lyon1.fr/p2104784/site-but-informatique";
    string iutwebsiteClass = Card.CardClass.UNIV;

    string ocrapiImage = ".\\assets\\img\\ocrapi.png";
    string ocrapiTitle = "Letter OCR  ";
    string ocrapiDescription = "An external API to securely process OCR data, streamlining letter sorting and reducing manual input for operators.";
    string ocrapiClass = Card.CardClass.WORK;

    string m5Image = ".\\assets\\img\\m5.png";
    string m5Title = "Voltage monitor";
    string m5Description = "A self-hosted application using WinForm and C# to monitor the voltage levels of connected devices, featuring data reception, voltage history tracking, and graphical monitoring.";
    string m5Class = Card.CardClass.WORK;
}
